<p id="game-id" hidden><%= @game.id %></p>
<p id="grid-size" hidden><%= @game.board.size %></p>
<p id="first-player" hidden><%= @game.first_player %></p>

<main id="gamebox" class="<%= @game.first_player %>">
<% (0...@game.board.size).each do |row| %>
  <nav class="grid-row">
  <% (0...@game.board.size).each do |col| %>
    <% index = (@game.board.size * row) + col %>
      <a id="<%= index %>" class="grid-cell <%= (@game.board.cells[index] != 'x' && @game.board.cells[index] != 'o') ? '' : @game.board.cells[index].downcase  %>"></a>
  <% end %>
  </nav>
<% end %>
</main>

<%# To print the user with current turn %>
<p id="turn-message"></p>

<%# used to show results at the end of the game %>
<div id="results">
  <aside>
    <span id="result-message">
    </span>
    <nav>
      <a href="/">New Game</a>
    </nav>
  </aside>
</div>

<%= render 'loader' %>
