<p id="game-id" hidden><%= @game.id %></p>
<p id="grid-size" hidden><%= @game.board.size %></p>
<p id="first-player" hidden><%= @game.first_player %></p>

<p id="computer-mode" hidden><%= @game.player_1_type == "computer" || @game.player_2_type == "computer" %></p>

<div class="game">
  <h1 class="title">Tic Tac Toe</h1>
  <div class="board">
  <% (0...@game.board.cells.length).each do |index| %>
    <div id="<%= index %>" class="cell <%= (@game.board.cells[index] != 'x' && @game.board.cells[index] != 'o') ? '' : @game.board.cells[index].downcase  %>"></div>
  <% end %>
  </div>

  <div class="message-bar">
    <p id="message"></p>
  </div>

  <a id="reset" href="/">
    New Game!
  </a>
</div>

<div class="overlay hide"></div>
